* {
	font-family: $fuente-principal;
	margin: 0px;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%; /* Obliga al navegador a tener altura real */
	max-width: 100vw;
	overflow-x: clip;
}

#app {
	height: 100%; /* El contenedor de Vue ocupa toda la altura */
}

h1 {
	color: $color-texto-blanco;
}

img[alt="Logo Profesional"] {
	background: none;
	background-color: $color-rojo-oscuro;
	border-radius: 15px;
	margin-right: 20px;
	border: 1px solid $color-rojo-oscuro-claro;
}